.hero{
    position: relative;

    &::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;

       background: rgba(52, 56, 115, 0.8), linear-gradient(229deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        z-index: 5;
    }

    padding-top: 80px;
    @include calculateResponsiveProperty(768px, 1368px, 8px, 140px, padding-top);
    .container{

        padding: 80px 0;

        position: relative;
        z-index: 10;

        @include calculateResponsiveProperty(768px, 1368px, 80px, 160px, padding-top);
        @include calculateResponsiveProperty(768px, 1368px, 80px, 160px, padding-bottom);
    }

    
}

.hero__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__content{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    max-width: 1000px;
    margin: 0 auto;

    @include calculateResponsiveProperty(768px, 1368px, 48px, 140px, row-gap);

    h1{
        text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
        text-align: center;

        @media (min-width: 1280px){
            text-align: justify;
        }
    }
}

.hero__btn-block{
    display: flex;    
    flex-direction: column;
    max-width: 300px;
    row-gap: 24px;
    margin: 0 auto;
    @media (min-width: 680px){
        flex-direction: row;
        column-gap: 48px;
        justify-content: center;
        max-width: initial;
        margin: 0;
    }
}