.reviews{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    width: 100%;
    max-width: 100%;
    overflow: hidden;

    @include calculateResponsiveProperty(1024px, 1920px, 30px, 60px, row-gap);
}

.reviews-content{
    position: relative;
    .container{
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    
    padding: 20px 0 30px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translate(-50%, 0);
        background: var(--grey-1);
    }
}
.reviews-slider.swiper{
    padding: 20px 10px;
    width: calc(100% + 20px);
    margin-left: -10px;
    .swiper-slide{
        position: relative;
        aspect-ratio: 100 / 141.754385965;
        border-radius: 8px;
        border: 1px solid #e7e7e7;
        overflow: hidden;

        //filter: drop-shadow(0 4px 4px  rgba(0, 0, 0, 0.25));
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            transition: 700ms ease;
        }


        &:hover{
            img{
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
    }
}

.reviews-slider-container{
    position: relative;
}

.slider-pagination.reviews-pagination {
    
    
}